.horizontal-container {
    display: flex;
}

.vertical-container {
    display: flex;
    flex-direction: column;
}

.gap-1 {
    gap: 0.5rem;
}

.small {
    font-size: smaller;
}

.fixed-container {
    width: 50%;
}

.center {
    align-items: center;
    text-align: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.space-evenly {
    justify-content: space-evenly;
}

.padding-left {
    padding-left: 0.5rem;
}

.top-margin {
    margin-top: 0.5rem;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.break-anywhere {
    word-wrap: anywhere;
}

.hoverable {
    cursor: pointer;
}