/* Grundlegende Schriftarten */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Prince+and+Princess+Charming&display=swap');

:root {
  --default: #121212;
  --default-light: #ffeee4;
  --primary-highlight: #db0042;
  --primary-highlight-light: #db688b;
  --secondary-highlight: #ff5e00;
  --secondary-highlight-light: #ffa570;
  --base: #ffecf2;
}
